[Desktop Entry]

Type=Application

Name=Dropbox push

Comment=Push files to Dropbox

Exec=i3-msg "exec --no-startup-id urxvtc -hold -e rclone sync -v ~/Remotes/dropbox_sync/ dropbox:"

Icon=utilities-terminal

Categories=Network;