[Desktop Entry]

Type=Application

Name=Genup

Comment=System update

Exec=swaymsg "exec alacritty -e sudo genup"

Icon=utilities-terminal

Categories=System;
