[Desktop Entry]

Type=Application

Name=NCMPCPP

Comment=Music server control

Exec=i3-msg "exec --no-startup-id ~/.user_config/scripts/mpd.sh"

Icon=utilities-terminal

Categories=AudioVideo;