[Desktop Entry]

Type=Application

Name=Weechat

Comment=IRC client

Exec=i3-msg "exec --no-startup-id urxvtc -e weechat"

Icon=utilities-terminal

Categories=Network;
