[Desktop Entry]

Type=Application

Name=Bluetooth CTL

Comment=Bluetooth CLI tool

Exec=swaymsg "exec alacritty --title terminal_bluetooth_ctl -e sudo ~/.user_config/scripts/bluetooth_ctl.sh"

Icon=utilities-terminal

Categories=System;
