[Desktop Entry]

Type=Application

Name=Chromium Incognito

Comment=Incognito version of Chromium

# i3
# Exec=swaymsg "exec chromium-browser --force-device-scale-factor=3 --incognito %U"

# Sway
Exec=swaymsg "exec chromium-browser --incognito %U"

Icon=chromium-browser

Categories=Network;WebBrowser;

MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/mailto;x-scheme-handler/webcal;

StartupWMClass=chromium-browser
