[Desktop Entry]

Type=Application

Name=Dmesg

Comment=Dmesg

#Exec=swaymsg "exec urxvtc --title terminal_dmesg -e dmesg -wH"
Exec=swaymsg "exec alacritty --title terminal_dmesg -e dmesg -wH"

Icon=utilities-terminal

Categories=System;
