[Desktop Entry]

Type=Application

Name=Encrypted Drive Mounter

Comment=Mount an external encrypted drive

#Exec=swaymsg "exec urxvtc -e ~/.user_config/scripts/encrypted_drive_mounter.sh"
Exec=swaymsg "exec alacritty -e ~/.user_config/scripts/encrypted_drive_mounter.sh"

Icon=utilities-terminal

Categories=System;
