[Desktop Entry]

Type=Application

Name=Genlop

Comment=Emerge ETA

#Exec=swaymsg "exec urxvtc --title terminal_genlop -e watch -cn 10 genlop -ci"
Exec=swaymsg "exec alacritty --title terminal_genlop -e watch -cn 10 genlop -ci"

Icon=utilities-terminal

Categories=System;
