[Desktop Entry]

Type=Application

Name=Git Pull Push

Comment=Git multiple pull and pushes

Exec=swaymsg "exec urxvtc --hold -e ~/.user_config/scripts/git_pull_push.sh"

Icon=utilities-terminal

Categories=Development;