[Desktop Entry]

Type=Application

Name=MPS Youtube

Comment=CLI Youtube player

Exec=swaymsg "exec urxvtc -hold -e mpsyt"

Icon=utilities-terminal

Categories=System;
