[Desktop Entry]

Type=Application

Name=Omega T

Comment=Translation software

# Provided java (no hidpi)
#Exec=swaymsg "exec ~/Software/Omega_T/jre/bin/java -Dsun.java2d.uiScale=3 -jar ~/Software/Omega_T/OmegaT.jar"

# System Java
Exec=swaymsg "exec java -Dsun.java2d.uiScale=3 -jar ~/Software/Omega_T/OmegaT.jar"

Icon=utilities-terminal

Categories=Education;

MimeType=application/java-archive


