[Desktop Entry]

Type=Application

Name=Passwords

Comment=Personal KeePassXC database

Exec=swaymsg "exec cat ~/.user_config/no_share/keepassxc/keepassxc_password | keepassxc --keyfile ~/.user_config/no_share/keepassxc/keepassxc_keyfile ~/.user_config/no_share/keepassxc/keepassxc_database.kdbx --pw-stdin"

Icon=keepassxc

Categories=System;
