[Desktop Entry]

Type=Application

Name=DRI Prime

Comment=Check the use of hybrid graphics

Exec=swaymsg "exec urxvtc --title terminal_prime -e watch -cn 1 sudo cat /sys/kernel/debug/vgaswitcheroo/switch"

Icon=utilities-terminal

Categories=System;
