[Desktop Entry]

Type=Application

Name=Public Ip Gmail

Comment=Obtain public IP and e-mail it

Exec=swaymsg "exec alacritty -e ~/.user_config/scripts/public_ip_gmail.sh"

Icon=utilities-terminal

Categories=System;