[Desktop Entry]

Type=Application

Name=SSH Reverse Tunnel

Comment=SSH remote assistance

#Exec=swaymsg "exec urxvtc -e ~/.user_config/scripts/reverse_ssh_tunnel.sh"
Exec=swaymsg "exec alacritty -e ~/.user_config/scripts/reverse_ssh_tunnel.sh"

Icon=utilities-terminal

Categories=System;