[Desktop Entry]

Type=Application

Name=Rsnapshot Daily

Comment=System backup

Exec=swaymsg "exec urxvtc -e sudo /etc/cron.daily/rsnapshot.daily"

Icon=utilities-terminal

Categories=System;
