[Desktop Entry]

Type=Application

Name=Rtorrent

Comment=Torrent client

#Exec=swaymsg "exec urxvtc -e rtorrent"
Exec=swaymsg "exec alacritty -e rtorrent"

Icon=utilities-terminal

Categories=Network;

