[Desktop Entry]

Type=Application

Name=Rtorrent

Comment=Torrent client

Exec=swaymsg "exec urxvtc -e rtorrent"

Icon=utilities-terminal

Categories=Network;

