[Desktop Entry]

Type=Application

Name=Showem

Comment=Output of a parallel emerge from a separate terminal

Exec=swaymsg "exec urxvtc --title terminal_showem -e sudo showem"

Icon=utilities-terminal

Categories=System;
