[Desktop Entry]

Type=Application

Name=SSH Reverse Tunnel

Comment=SSH remote assistance

Exec=swaymsg "exec alacritty -e ~/.user_config/scripts/ssh_reverse_tunnel.sh"

Icon=utilities-terminal

Categories=System;