[Desktop Entry]

Type=Application

Name=Update Git Repos

Comment=Update Multiple Git Repos

Exec=swaymsg "exec urxvtc -hold -e ~/.user_config/scripts/update_git_repos.sh"

Icon=utilities-terminal

Categories=Development;