[Desktop Entry]

Type=Application

Name=Wake Remotes

Comment=Wake remote computers

Exec=swaymsg "exec urxvtc --title terminal_wake_remotes -e ~/.user_config/scripts/wake_remotes.sh"

Icon=utilities-terminal

Categories=Network;