[Desktop Entry]

Type=Application

Name=Youtube Viewer

Comment=CLI Youtube player

#Exec=swaymsg "exec urxvtc -e youtube-viewer"
Exec=swaymsg "exec alacritty -e youtube-viewer"

Icon=utilities-terminal

Categories=System;
