[Desktop Entry]

Type=Application

Name=Youtube Viewer

Comment=CLI Youtube player

Exec=swaymsg "exec urxvtc -e youtube-viewer"

Icon=utilities-terminal

Categories=System;
