[Desktop Entry]

Type=Application

Name=Bluetooth CTL

Comment=Bluetooth CLI tool

Exec=i3-msg "exec --no-startup-id urxvtc -e sudo ~/.user_config/scripts/bluetooth_ctl.sh"

Icon=utilities-terminal

Categories=System;
