[Desktop Entry]

Type=Application

Name=Git Pull Only

Comment=Git multiple pull and pushes

Exec=swaymsg "exec alacritty -hold -e ~/.user_config/scripts/git_pull.sh"

Icon=utilities-terminal

Categories=Development;