[Desktop Entry]

Type=Application

Name=Ranger

Comment=Text based file browser

Exec=swaymsg "exec alacritty -e ranger -r ~/.user_config/applications/ranger"

Icon=utilities-terminal

Categories=System;FileTools;FileManager;
