[Desktop Entry]

Type=Application

Name=Hotspot

Comment=Share WiFi

Exec=swaymsg "exec urxvtc -e sudo ~/.user_config/scripts/hotspot.sh \\$(ls /sys/class/net | grep wl | cut -d ":" -f1) \\$(ls /sys/class/net | grep en | cut -d ":" -f1)"

Icon=utilities-terminal

Categories=Network;