# Southern Tools

# Global upload and download rate in KiB. "0" for unlimited.
# throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 75

# Default directory to save the downloaded torrents.
directory.default.set = ~/Downloads/rtorrent/

# Default session directory. When restarting rtorrent, the torrents from this directory will be restarted.
session.path.set = ~/.config/rtorrent/.session/

# A watch directory downloading to the default location
schedule2 = watch_directory_3,5,300,load.start=~/Downloads/*.torrent

# Restart torrents that have been copied back and stop those that have been deleted
schedule2 = tied_directory,1,30,start_tied=
schedule2 = untied_directory,1,30,close_untied=

# Close torrents when diskspace is low.
schedule2 = low_diskspace,5,60,close_low_diskspace=100M

# Edited
port_range = 50000-50000
check_hash = yes
#encryption = allow_incoming,try_outgoing,enable_retry
# More agressive encryption
protocol.encryption.set = require,require_RC4,allow_incoming,try_outgoing
protocol.pex.set = yes
dht = auto
trackers.use_udp.set = yes
