[Desktop Entry]

Type=Application

Name=Genup Log

Comment=Read latest system Genup log

Exec=swaymsg "exec urxvtc -hold -e cat /var/log/latest-genup-run.log"

Icon=utilities-terminal

Categories=System;
