[Desktop Entry]

Type=Application

Name=Ccache Stats

Comment=Ccache Statistics

Exec=i3-msg "exec --no-startup-id urxvtc -name floating -e watch -cn 10 CCACHE_DIR=/var/cache/ccache ccache -s"

Icon=utilities-terminal

Categories=System;
