[Desktop Entry]

Type=Application

Name=Genlop

Comment=Emerge ETA

Exec=swaymsg "exec urxvtc -e watch -cn 10 genlop -ci"

Icon=utilities-terminal

Categories=System;
