[Desktop Entry]

Type=Application

Name=Neomutt

Comment=Email client

Exec=swaymsg "exec urxvtc -e neomutt -F .user_config/applications/neomutt/neomuttrc"

Icon=utilities-terminal

Categories=Network;
