[Desktop Entry]

Type=Application

Name=MPS Youtube

Comment=CLI Youtube player

Exec=i3-msg "exec --no-startup-id urxvtc -e mpsyt"

Icon=utilities-terminal

Categories=System;
