[Desktop Entry]

Type=Application

Name=Rsnapshot Daily

Comment=System backup

Exec=i3-msg "exec --no-startup-id urxvtc -e sudo /etc/cron.daily/rsnapshot.daily"

Icon=utilities-terminal

Categories=System;
