[Desktop Entry]

Type=Application

Name=Omega T

Comment=Translation software

Exec=i3-msg "exec --no-startup-id ~/Software/Omega_T/jre/bin/java -jar ~/Software/Omega_T/OmegaT.jar"

Icon=utilities-terminal

Categories=Education;

MimeType=application/java-archive


