[Desktop Entry]

Type=Application

Name=Ranger

Comment=Text based file browser

Exec=i3-msg "exec --no-startup-id urxvtc -e ranger -r ~/.user_config/applications/ranger"

Icon=utilities-terminal

Categories=System;FileTools;FileManager;
